#feed-post {
    width: 20em;
    height: fit-content;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 2%;
    border-bottom: 1px solid black;
}

#post-meta-user-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.font-awesome-icon {
    cursor: pointer;
}

#post-user {
    cursor: pointer;
}

#post-dp {
    width: 3em;
    border: thick solid #000;
    border-radius: 100%;
    margin: 1%;
    padding: 1%;
}

#post {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid black;
}

#post img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#post h4 {
    padding: 5%;
}

#post-metrics {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 2%;
    background-color: white;
    width: 100%;
    padding: 2%;
}

#metrics {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 10dvw;
    gap: 1.5%;
}

.font-awesome-metric-icon {
    margin-right: 2%;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}

.font-awesome-metric-icon p {
    font-size: 0.5em;
}

#fav-post {
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 2%;
}

/* mobiles */
@media (max-width:768px) {
    #feed-post {
        width: fit-content;
        height: fit-content;
        transition: 0.5s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }

    #post-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 2%;
        border-bottom: 1px solid black;
    }

    #post-meta-user-details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    #post-metrics {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 2%;
        background-color: white;
        width: 100%;
        padding: 2%;
    }

    #metrics {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 25dvw;
        gap: 1.5%;
    }
}

/* COMMENT BLOCK STYLING */
#comment-block {
    flex-direction: column;
    width: 100%;
    position: relative;
    height: fit-content;
    max-height: 10em;
    overflow: scroll;
    transform: translateY(-2.5em);
    display: none;
    transition: 0.5s linear;
}

#comment-block form {
    height: 2.5em;
    width: 100%;
}

#comment-block .comment-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
}

#comment-block .comment-data p {
    margin-left: 2.5em;
}

.comment-block-active {
    display: flex !important;
    transform: translateY(0em) !important;
    transition: .5s linear;
}

.comment-block-active form {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

#comment-block input {
    flex: 1 1;
    height: 2.7em;
}

#comment-block button {
    height: 100%;
    background-color: rgb(28, 26, 26);
    color: white;
    padding: 0em 1em;
}