#feed-post {
    width: 35dvw;
    height: fit-content;
}
#post-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 2%;
}
#post-meta-user-details{
    display: flex;
    align-items: center;
    justify-content: start;
}
.font-awesome-icon{
    cursor: pointer;
}
#post-user{
    cursor: pointer;
}
#post-dp{
    width: 3em;
    border: thick solid #000;
    border-radius: 100%;
    margin: 1%;
    padding: 1%;
}
#post{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategray;
    padding: 2%;
}
#post-metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    background-color: blanchedalmond;
    width: 100%;
    padding: 2%;
}
#metrics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10dvw;
}
.font-awesome-metric-icon{
    margin-right: 2%;
    font-size: 1.5em;
    cursor: pointer;
}
#fav-post{
    font-size: 1.5em;
    cursor: pointer;
    margin: 2%;
}