nav {
    width: 100vw;
    display: flex;
    height: 5em;
    background-color: rgb(32, 31, 31);
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    gap: 2em;
    color: #fff;
}

nav ul li {
    list-style-type: none;
}

#logo {
    width: 2em;
    height: 2em;
}

#nav-main1 {
    display: flex;
    align-items: center;
    gap: 5em;
}
