nav {
    width: -webkit-fill-available;
    position: fixed;
    display: flex;
    background-color: rgb(19, 17, 17);
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    z-index: 9;
}

nav ul {
    display: flex;
    gap: 2em;
    color: #fff;
}

nav ul li {
    list-style-type: none;
}

.navlinks {
    text-decoration: none;
    color: #fff;
}

#profile {
    width: 2em;
    height: 2em;
}

#logo {
    width: 3em;
    height: 3em;
}

#nav-main1 {
    display: flex;
    align-items: center;
    gap: 5em;
}