.chat-controllers{
    position: absolute;
    bottom: 0;
    margin: 2%;
    left: 0;right: 0;
    width: 25dvw;
    height: fit-content;
    margin: 2% auto;
}
.chat-holder{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    width: 50dvw;
    height: 60dvh;
    color: black;
}